<div class="jumbotron">
<h1>See who stands with you!</h1>
<table>
  <tr>
    <th>First</th>
    <th>Last</th>
    <th>Company</th>
    <th>Website</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.first %></td>
      <td><%= article.last %></td>
      <td><%= article.company %></td>
      <td><%= article.website %></td>
    </tr>
  <% end %>
</table>
</div>
